## PYTHON

* Python Distribution is a collection of programs that allows us to use Python. For example, at a minimum, any Python distribution contains a Python interpreter. 
* Anaconda is an open-source Python distribution that also includes popular Data Science and Machine Learning libraries.

### Print formatting

* print('text {}'.format(var))

In [3]:
name = 'Geetha'
num = 30

print("My name is ",name,"and my number is ",num)
print("My name is {} and my number is {} ".format(name, num))
print("My name is {one} and my number is {two} and use variables again {one} and {two}".format(one = name, two = num))

My name is  Geetha and my number is  30
My name is Geetha and my number is 30
My name is Geetha and my number is 30 and use variables again Geetha and 30

### String is a sequence of characters

* str[index] gives character at position index of string str
* Slice notation
* Built-in methods - lower, upper, split

In [6]:
str = 'hello'
str[0]

'h'

In [7]:
str[4]

'o'

In [9]:
str = 'abcdefghijk'
str[:]

'abcdefghijk'

In [10]:
# all characters from index 2 to end
str[2:]

'cdefghijk'

In [11]:
# all characters from starting to index 5
str[:5]

'abcde'

In [47]:
# characters from index 4 to 7
str[4:7]

'efg'

In [48]:
s = 'Hello my name is Geetha'

In [42]:
s.lower()

'hello my name is geetha'

In [43]:
s.upper()

'HELLO MY NAME IS GEETHA'

In [45]:
s.split() # by defalut splits at space

['hello', 'my', 'name', 'is', 'Geetha']

In [46]:
# split at desired character
'Go Sports! #sports'.split('#')

['Go Sports! ', 'sports']

### List

* List is a sequence of elements in square bracket separated by comma
* Nested list

In [13]:
my_list = ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [15]:
# add element
my_list.append('d')
my_list

['a', 'b', 'c', 'd', 'd']

In [16]:
# get element by index
my_list[2]

'c'

In [50]:
# update list
my_list[1] = 'NEW'
my_list

[2, 'NEW', 6, 8, 10]

In [54]:
# pops last element
my_list.pop()
my_list

[2, 'NEW', 6, 8]

In [55]:
# pops particular element
my_list.pop(1)
my_list

[2, 6, 8]

In [18]:
nested_list = [1, 2, [3, 4, 5,['hello']]]
nested_list

[1, 2, [3, 4, 5, ['hello']]]

In [19]:
nested_list[2]

[3, 4, 5, ['hello']]

In [20]:
nested_list[2][3]

['hello']

In [49]:
nested_list[2][3][0]

'hello'

### Dictionary

* Key value pair
* Doesn't maintain order
* Nested dictionary

In [23]:
d = {'key1' : 'value1', 'key2' : 123, 'key3' : [4, 5, 6]}
d

{'key1': 'value1', 'key2': 123, 'key3': [4, 5, 6]}

In [24]:
d_list = d['key3']
d_list

[4, 5, 6]

In [25]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [26]:
d_nested = {'k1' : {'innerkey' : [1, 2, 3]}}
d_nested

{'k1': {'innerkey': [1, 2, 3]}}

In [28]:
d_nested['k1']['innerkey'][2]

3

### Tuple

* It's similar to a list but it's immutable. 
* tuple[0] = 'NEW' this is not possible

In [29]:
t = (1, 2, 3)
t

(1, 2, 3)

### Set

* Collection of unique elements
* List does not contain unique elements

In [30]:
my_set = {1, 1, 1, 2, 2, 3, 4, 4, 4, 4, 4, 5, 5}
my_set

{1, 2, 3, 4, 5}

In [31]:
my_list = [1, 1, 1, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]
my_list

[1, 1, 1, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]

In [33]:
# add new items to set
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 7}

### Conditional Statements

* If
* If - elif - else

In [34]:
# Conditional statements

if 1 < 2:
    print('One is lesser than two')
    
if 3 == 4:
    print('Three is equal to four')
elif 3 > 4:
    print('Three is greater than four')
elif 2 == 2:
    print('Two is equal to two') # once any condition is satisfied, it doesn't check for remaining conditions
else:
    print('Three is not equal to four')

One is lesser than two
Two is equal to two

### Conditional Loops

* for
* while
* for x in range

In [35]:
# Conditional loops

print('For Loop')  
a = [1, 2, 3, 4, 5]
for item in a:
    print(item, end = ' ')
    
print('\nWhile Loop')    
i = 1
while i < 5:
    print('i is :{}'.format(i), end = ', ')
    i = i + 1

print('\nRange in for loop')    
for x in range(0, 5):
    print(x, end = ' ')

print('\nRange to list: {}'.format(list(range(5))))

For Loop
1 2 3 4 5
While Loop
i is :1, i is :2, i is :3, i is :4,
Range in for loop
0 1 2 3 4
Range to list: [0, 1, 2, 3, 4]

### List Comprehension

* Writing for loop in a single line

In [36]:
# List comprehension

x = [1, 2, 3, 4, 5]
o = []
for num in x:
    o.append(num ** 2)
print('New list: {}'.format(o))   

# The above lines can be written in a single line - list comprehension

o_new = [num ** 2 for num in x]
print('List comprehension: {}'.format(o_new))

New list: [1, 4, 9, 16, 25]
List comprehension: [1, 4, 9, 16, 25]

### Functions

* def function_name(parameters = default_value):
        statements
        return (optional)
* Type the function name and press shift+tab -> displays docstring
* Function docstring can be written using three double quotes """ docstring """

In [37]:
# Functions

def my_function(param = 'default value'):
    print('my_function: {}'.format(param))
    
my_function(1)
my_function('hello')
my_function()

def add(a, b):
    """
    This is docstring of my_function.
    It can go multiple lines.
    It returns sum of two numbers
    """
    return (a + b)

my_sum = add(1, 2)
print('Sum: {}'.format(my_sum))

my_function: 1
my_function: hello
my_function: default value
Sum: 3

### Map

* To map a function to every element of a sequence
* Instead of using for-loop we can use map function

In [39]:
seq = [1, 2, 3, 4, 5]
def times2(num):
    return num * 2
# one way to iterate is using for loop. But we can also use map function
my_list = list(map(times2, seq)) # returns a list of function "times2" mapped to every element in seq
print('Map function result: {}'.format(my_list))

Map function result: [2, 4, 6, 8, 10]

### Lambda Expression

* Writing function in a single line

In [56]:
# Lambda Expression

def square(num):
    return num * num

# this can be written as below in one line
def square(num): return num * num

# Now replace "def function_name" by "lambda" and remove return keyword
l = lambda num: num * num # this's a lambda expression
print('Lambda Expression for square: {}'.format(l(3)))

# Lambda and map
print('Lambda and Map: {}'.format(list(map(lambda num: num * 2, seq))))

Lambda Expression for square: 9
Lambda and Map: [2, 4, 6, 8, 10]

### Filter

* To filter out elements from a sequence based on a condition

In [59]:
seq

[1, 2, 3, 4, 5]

In [69]:
# lambda expression gives true or false based on the condition
list(map(lambda num: num%2 == 0, seq))

[False, True, False, True, False]

In [71]:
# even numbers - boolean result from lambda is applied to filter
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

### IN Operator

* Searches for an element in a list and returns true or false

In [72]:
'x' in [1, 2, 3]

False

In [74]:
'x' in ['x', 'y', 'z']

True

### Tuple Unpacking

* Get tuple elements from a list of tuples

In [75]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
list_of_tuples

[(1, 2), (3, 4), (5, 6)]

In [77]:
# all tuples in list
for item in list_of_tuples:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [78]:
# first elements of tuplle
for a, b in list_of_tuples:
    print(a)

1
3
5

In [80]:
# second elements of tuple
for a, b in list_of_tuples:
    print(b)

2
4
6